[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
numpy = "*"
matplotlib = "*"
pandas = "==1.2.0"
pip = "*"
scipy = "*"

[dev-packages]

[requires]
python_version = "3.9"
